<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/my.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/static/js/jquery-3.6.4.min.js"></script>
    <title>Угадай фильм</title>
    <script> var first_load = true; </script>
  </head>
  <body class="films">
    <header id="header">
      <div class="container">
        <div class="border20"></div>
        <div class="col-9">
          <p class="text-header"> Вопрос <span id="cur-question"></span> из <span id="max-question"></span></p>
        </div>
      </div>
    </header>
    <!-- Данные вопроса -->
    <main>
      <div class="container" id="question">
        <div class="row">
          <div class="col">
            <img id="image" src="" class="img">
            <div class="border20"></div>
          </div>
        </div>

        <div class="row">
            <div id="table" class="col">
              <!-- Добавление таблицы -->
            </div>
        </div>

        <div class="row">
          <div class="col">
            <div>
              <input id="text" type="text">
              <script type="text/javascript">
                var old_input_value = '';
                text.oninput = function() {
                    const cells = document.getElementById("tbl").getElementsByTagName("td");
                    var tmp_value = '';
                    var input_value = text.value;
                    if (input_value.length < old_input_value.length) {
                      for (let i = input_value.length; i < old_input_value.length && i < cells.length; i++) {
                        cells[i].innerHTML = '';
                      }
                    }
                    let answer = window.answers[window.currentImageIndex];
                    let j = 0;
                    
                    while (j < input_value.length) {
                      if (input_value[j] == ' ' && answer[j] != ' '){
                          text.value = input_value.substr(0, j);
                        }
                      else if (answer[j] == ' ' && input_value[j] != ' ') {
                        tmp_value = input_value.substr(0, j) + ' ' + input_value[j];
                        input_value = tmp_value;
                        text.value = tmp_value;
                        cells[j].innerHTML = ' ';
                        j ++;
                      }
                      cells[j].innerHTML = input_value[j].toUpperCase();
                      j ++;
                    }
                    window.results[window.currentImageIndex] = input_value;
                    old_input_value = input_value;
                    }
 
              </script>
              <div class="border20"></div>
            </div>
          </div>
        </div>

        <div class="row" id="buttons">
          <div class="col-6">
            <input type="button" onClick="HELPClick();" value="Хелп!" class="help-button c-button">
          </div>
          <div class="col-6">
            <input type="button" onClick="CHECKClick();" value="Чекнуть" class="check-button c-button">
          </div>
        </div>
        <div class="row" id="buttons-2" style="display:none;">
          <div class="col-6">
            <input type="button" onClick="NEXTClick();" value="Дальше" class="c-button">
          </div>
        </div>
      </div>
      <div class="container" id="end" style="display:none;">
        <div class="row end" id="end_tbl">
          <h4 class="text-header">СЛЕДУЮЩЕЕ МЕСТО:</h4>
          <div class="border20"></div>
        </div>
      </div>

    </main>
    <footer></footer>
  <script src="/static/js/test.js"></script>  
  </body>
</html>